@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}


body {
    font-size: 1.6rem;
}

/*CSS VARIABLES*/
:root {
    --PRIMARY-COLOR: #06283D;
    --LIFT-COLOR: #24ff02;
    --LIFT-BORDER-COLOR: #000;
    --LIGHT_COLOR: #47B5FF;
    --VERY-LIGHT-COLOR: #DFF6FF;
    --COLOR-WHITE: #FFF;
    --INPUT-SECTION-BORDER-COLOR: #979797;
        --INPUT-SECTION-BOX-SHADOW: inset 0px 0px 4px 2px rgb(255 255 255 / 66%);
        --INPUT-SECTION-BG-COLOR: rgba(196, 196, 196, 0.42);
}


.main {
    display: flex;
    padding: 2.8rem;
    flex-direction: column;
        min-height: 100vh;
}

.heading {
    text-align: center;
    margin: 1rem 1rem 4rem;
    color: var(--PRIMARY-COLOR);
}

.input-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    min-width: 30rem;
        padding: 2rem;
        border-radius: 5px;
    }

.form-container {
    padding-top: 2rem;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--INPUT-SECTION-BG-COLOR);
    margin: 0 auto;
    border: 1px solid var(--INPUT-SECTION-BORDER-COLOR);
    max-width: 70rem;
    min-width: 30rem;
}    

.inputs {
    border-radius: 5px;
    border: 2px solid var(--PRIMARY-COLOR);
    margin: 1rem;
    width: 24rem;
    height: 3.6rem;
    padding: 1rem;
}

.inputs:focus {
    background-color: var(--VERY-LIGHT-COLOR);
    border: var(--PRIMARY-COLOR);
}

.input-container>label {
    font-weight: 500;
    text-align: center;
    align-self: flex-start;
    margin-left: 1.6rem;
}


.button-floor{
    justify-content: left;
    align-items: flex-start;
    border: 1px solid;
    margin: 0px;
    border-radius:2px;
    font-size: 10px;
    padding:5px 5px;
    margin-bottom: 5px; 
    display: inline;
    background-color: aqua;
}

.button-floor upBttn:hover{
    opacity: 1;
}


.generatebutton {
    padding: 1rem;
    margin-top: 2.4rem;
    border: none;
    opacity: .9;
    cursor: pointer;
    margin-bottom: 4rem;
}

.generatebutton{
    background-color: var(--PRIMARY-COLOR);
    color: var(--VERY-LIGHT-COLOR);
}

.generatebutton:hover {
    opacity: 1;
}

.lifts {
    width: 67px;
    height: 93px;
    font-size:0;
    position: absolute;
    background-color: var(--VERY-LIGHT-COLOR);
    left: 0;
    top:0;
    border: 2px solid;
    align-items: center;
    border-radius: 5px;
    content: none;
    margin: 0 2rem;
}

.lifts p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -0%);
}

.floor {
    height: 100px;
    position: relative;
    display: flex;
    min-width:1000%;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border-bottom:white 1px dotted;
    color: black;
    border-bottom: 2px solid var(--PRIMARY-COLOR);
}

.liftMotion{
    transition-duration: 2s;
}

.lifts .gate {
    position: absolute;
    height: 100%;
    width: 50%;
    border: 1px solid var(--PRIMARY-COLOR);
    background-color: var(--LIFT-COLOR);
}

.gateLeft {
    left: 0;
}

.gateRight {
    right: 0;
}

.animateLiftsDoorsOnFloorStop  {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-name: doorSimulation;
}

@keyframes doorSimulation {
    from {
        width: 50%;
    }
    50% {
        width: 0%;
    }
    to {
        width: 50%;
    }
}

	
